script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
javascript:
  $(function() {
    console.log('loaded');
    var items = [];
    $.getJSON("http://#{settings.base_domain}/events.json?callback=?", {access_token: '#{@access_token}'}, function(data){
      console.log(data);
      $.each(data.events, function(key, val) {
       console.log(key)
       console.log(value)
       items.push("<li><a href='http://#{settings.base_domain}/events/" + val.id + ".json'></a></li>")
      });
    });
    $("ul#links").append(items.join(''));
  });
  
h2 Callback Worked
p 
  strong Access Token:
  br
  = @access_token
p
  These links should now work:
  ul#links
    li
      a href="https://#{settings.base_domain}/events.json?access_token=#{@access_token}" Your Events
